.header {
	padding-top: 3rem;

	@include standalone() {
		padding-top: 4.25rem;

		&::before {
			@include fixed( $z-index: 400 );
			content: '';
			top: 0;
			right: 0;
			left: 0;
			height: 1.25rem;
			background-color: darken( $brand-primary, 20% );
		}
	}
}

.header__content {
	@include fixed( $z-index: 200 );
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	height: 3rem;
	border-bottom: 1px solid $border-color;
	background-color: $brand-primary;
	text-align: center;
	color: white;

	@include standalone() {
		margin-top: 1.25rem;
	}
}

.header__home {
	@include reset-link;
}

.header__options {
	@include reset-button;
	cursor: pointer;
}

.header__home,
.header__options {
	flex: 1;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
	color: white;
	font-size: 1.6rem;
}

.header__home .icon,
.header__options .icon {
	color: white;

	&:hover {
		color: mix( $brand-primary, white, 10% );
	}
}

.header__brand {
	@include bold;
	overflow: hidden;
	flex: 4;
	padding: 0.7rem 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-shadow: -1px -1px darken( $brand-primary, 10% );

	@include desktop() {
		flex: 5;
	}
}
