.profile-plans__empty {
	margin: 8px 12px;
	text-align: center;
	font-style: italic;

	.profile-plans.is-loading & {
		@include loading-pulse-text;
	}
}

.profile-plans__plan {
	display: flex;
	justify-content: space-between;
	padding: 8px 12px;
	border-bottom: 1px solid $border-color;

	&:last-child {
		border-bottom-width: 0;
	}
}

.profile-plans__empty,
.profile-plans__plan-name {
	padding: 4px 0;
}

.profile-plans__plan-actions {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.profile-plans__plan-actions .button {
	display: inline-block;
	padding: 6px 16px;
	line-height: 1;

	&:not( :first-child ) {
		margin-left: 8px;
	}
}

.profile-plans__plan-actions .button .icon {
	color: white;
}
