{
	"presets": [
		[ "latest", {
			"es2015": {
				"modules": false
			}
		} ],
		"stage-2",
		"react"
	],
	"plugins": [
		"transform-runtime",
		"lodash"
	],
	"env": {
		"production": {
			"plugins": [ "transform-react-remove-prop-types" ]
		},
		"test": {
			"presets": [
				"latest"
			]
		}
	}
}
