.workout-name {
	text-align: center;
}

.workout-name__title {
	font-weight: bold;
}

.workout-name__subtitle {
	font-size: 0.7rem;
	text-transform: uppercase;
}

.workout-name__title,
.workout-name__subtitle {
	line-height: 1.2;
}
