.exercise-set {
	position: relative;
	display: flex;
	border-bottom: 1px solid $border-color;

	&.is-optional {
		background: repeating-linear-gradient(
			-55deg,
			mix( $color-gray, white, 80% ),
			mix( $color-gray, white, 80% ) 0.9rem,
			white 0.9rem,
			white 1.3rem
		);
	}

	&:last-child {
		border-bottom-width: 0;
	}
}

.exercise-set__optional {
	@include bold;
	position: absolute;
		top: 50%;
		right: 0.7rem;
	transform: translateY( -50% );
	text-transform: uppercase;
	font-size: 0.6rem;
}

.exercise-set__weight-label,
.exercise-set__reps-label {
	padding: 0.5rem 0.7rem;
	color: lighten( $font-color-body, 20% );
}

.exercise-set__weight-label {
	flex: 3;
	border-right: 1px solid $border-color;
}

.exercise-set__reps-label {
	flex: 2;
}

.exercise-set__weight .weight__weight,
.exercise-set__reps {
	@include bold;
	margin-right: 2px;
	color: $font-color-body;
}


