.button {
	@include reset-button;
	@include reset-link;
	background-color: $color-gray;
	border: 1px solid $border-color;
	border-radius: $border-radius;
	padding: 0.2rem 0.7rem;
	cursor: pointer;

	&.is-large {
		padding: 0.4rem 1.2rem;
		font-size: 120%;
	}

	&:disabled {
		opacity: 0.8;
		cursor: default;
		cursor: not-allowed;
	}

	&:hover:not( :disabled ) {
		border-color: darken( $border-color, 10% );
	}

	&.is-success {
		background-color: $color-green;
		border-color: $color-green;
		color: white;

		&:hover {
			border-color: darken( $color-green, 10% );
		}
	}

	&.is-danger {
		background-color: $color-red;
		border-color: $color-red;
		color: white;

		&:hover {
			border-color: darken( $color-red, 10% );
		}
	}
}
