.icon {
	line-height: 1;
	color: $font-color-icon;
}

.icon__screen-reader-text {
	@include screen-reader-text;
}

.icon.is-cog .icon__variant {
    transform-origin: left;
    transform: translate( 8%, -8% );
}
