.add-via-routine__options {
	@include reset-list;
}

.add-via-routine__options-item {
	border-bottom: 1px solid $border-color;

	&:last-child {
		border-bottom-width: 0;
	}
}

.add-via-routine__option {
	position: relative;
	display: block;
	text-align: left;
	cursor: pointer;
}

.add-via-routine__option-overview {
	padding: 12px;
}

.add-via-routine__actions {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 6px;

	@include desktop() {
		flex-direction: row;
	}
}

.add-via-routine__actions .button {
	display: block;
	margin-top: 6px;
	text-align: center;

	@include desktop() {
		flex-basis: 49%;
	}
}

.add-via-routine__option-name-author {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.2rem;
}

.add-via-routine__option-name,
.add-via-routine__option-description {
	margin: 0;
}

.add-via-routine__option-name {
	font-size: 1.2rem;
	line-height: 1.4rem;
}

.add-via-routine__option-author {
	margin-left: 0.4rem;
	font-size: 0.9rem;
	line-height: 1.4rem;
}

.add-via-routine__option-detail {
	display: flex;
	width: 100%;
	border-top: 1px solid $border-color;
	background-color: $color-gray;

	@include desktop() {
		display: table;
	}
}

.add-via-routine__option-detail thead {
	flex: 2;
	border-right: 1px solid $border-color;
}

.add-via-routine__option-detail tbody {
	flex: 3;
	background-color: white;
	border-left: 1px solid $border-color;
	margin-left: -1px;

	@include desktop() {
		border-left-width: 0;
		margin-left: 0;
	}
}

.add-via-routine__option-detail thead,
.add-via-routine__option-detail tbody {
	@include desktop() {
		flex: none;
	}
}

.add-via-routine__option-detail tr {
	display: block;
	width: 100%;

	@include desktop() {
		display: table-row;
	}
}

.add-via-routine__option-detail {
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}

.add-via-routine__option-detail th,
.add-via-routine__option-detail td {
	padding: 6px 12px;
	display: block;
	width: 100%;
	border-bottom: 1px solid $border-color;

	&:last-child {
		border-bottom-width: 0;
	}

	@include desktop() {
		display: table-cell;
		width: 33.3%;
		border-left: 1px solid $border-color;

		&:first-child {
			border-left-width: 0;
		}

		&:last-child {
			border-bottom-width: 1px;
		}
	}
}

.add-via-routine__option-detail td {
	@include desktop() {
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;

		&,
		&:last-child {
			border-bottom-width: 0;
		}
	}
}
