.workout-pagination {
	display: flex;
	border-bottom: 1px solid $border-color;
	background-color: $color-gray;
	text-align: center;
}

.workout-pagination.is-loading .workout-name__title,
.workout-pagination.is-loading .workout-name__subtitle {
	@include loading-pulse-text;
	width: 10rem;
	margin: 0 auto;

	&:before {
		background-color: darken( $loading-pulse-color, 10% );
	}
}

.workout-pagination__button {
	@include reset-button;
	position: relative;
	flex: 1;
	border-width: 0;
	border-style: solid;
	border-color: $border-color;
	cursor: pointer;

	&:hover {
		background-color: darken( $color-gray, 2% );
	}

	&:active {
		box-shadow: inset 1px 1px 2px rgba( 0, 0, 0, 0.1 );
	}

	&:first-child {
		border-right-width: 1px;
	}

	&:last-child {
		border-left-width: 1px;
	}
}

.workout-pagination__button .icon {
	position: absolute;
		top: 50%;
		left: 50%;
	transform: translate( -50%, -50% );
	font-size: 1.6rem;
}

.workout-pagination__button:active .icon {
	transform: translate( -40%, -40% );
}

.workout-pagination__header {
	flex: 5;
}

.workout-pagination__button,
.workout-pagination__header {
	padding: 8px 0;
}

.workout-pagination__button-label {
	@include screen-reader-text;
}
