.header {
	padding-top: 3rem;

	@media screen and ( orientation: portrait ) {
		html.is-ios-standalone & {
			padding-top: 4.25rem;
		}
	}
}

.header__content {
	@include bold;
	@include fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	border-bottom: 1px solid darken( $brand-primary, 10% );
	background-color: $brand-primary;
	text-align: center;
	text-shadow: -1px -1px darken( $brand-primary, 10% );
	color: white;

	@media screen and ( orientation: portrait ) {
		html.is-ios-standalone & {
			margin-top: 1.25rem;

			&::before {
				content: '';
				position: absolute;
				top: -1.25rem;
				right: 0;
				left: 0;
				height: 1.25rem;
				background-color: darken( $brand-primary, 20% );
			}
		}
	}
}

.header__home {
	@include reset-link;
}

.header__options {
	@include reset-button;
	cursor: pointer;
}

.header__home,
.header__options {
	flex: 1;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
	color: white;
	font-size: 1.6rem;
}

.header__home .icon,
.header__options .icon {
	color: white;

	&:hover {
		color: mix( $brand-primary, white, 10% );
	}
}

.header__brand {
	flex: 5;
	padding: 0.7222222rem 0;
}
