.routine-form__placeholder {
	@include loading-pulse;
	width: 100%;
	height: 25rem;
}

.routine-form__form > fieldset:first-of-type > legend {
	display: none;
}

.routine-form__actions {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	@include desktop() {
		flex-direction: row;
	}
}

.routine-form__actions .button {
	display: block;
	margin-top: 6px;
	text-align: center;

	@include desktop() {
		flex-basis: 49%;
	}
}
