.exercise-set {
	display: flex;
	border-bottom: 1px solid $border-color;

	&:last-child {
		border-bottom-width: 0;
	}
}

.exercise-set__weight-label,
.exercise-set__reps-label {
	padding: 8px 12px;
	color: lighten( $font-color-body, 20% );
}

.exercise-set__weight-label {
	flex: 3;
	border-right: 1px solid $border-color;
}

.exercise-set__reps-label {
	flex: 2;
}

.exercise-set__weight .weight__weight,
.exercise-set__reps {
	@include bold;
	margin-right: 2px;
	color: $font-color-body;
}


