.popover-menu__fade-enter-active,
.popover-menu__fade-leave-active {
	transform-origin: 100% 0;
	transition-duration: $transition-duration;
	transition-property: opacity, transform;
	transition-timing-function: ease-in-out;
}

.popover-menu__fade-enter {
	opacity: 0;
	transform: scale( 0.9 ) translate( 0.2rem, -0.2rem );
}

.popover-menu__fade-enter-active,
.popover-menu__fade-leave {
	opacity: 1;
	transform: scale( 1 ) translate( 0 );
}

.popover-menu__fade-leave-active {
	opacity: 0;
	transform: scale( 0.9 ) translate( 0.2rem, -0.2rem );
}

.popover-menu {
	position: relative;
}

.popover-menu__list {
	@include reset-list;
	@include bordered;
	position: absolute;
	top: 100%;
	right: 50%;
	margin-right: -17px;
	padding: 0.2rem 0;
	min-width: 10rem;
	background-color: white;

	&::before {
		content: '';
		position: absolute;
		right: 12px;
		height: 8px;
		width: 8px;
		top: -4px;
		z-index: 10;
		transform: rotate( 45deg );
		background: white;
		border-left: 1px solid $border-color;
		border-top: 1px solid $border-color;
	}
}

.popover-menu__item-button {
	@include reset-button;
	position: relative;
	z-index: 20;
	display: block;
	width: 100%;
	padding: 0.3rem 0.8rem;
	cursor: pointer;
	font-size: 1rem;
	white-space: nowrap;

	@include desktop() {
		padding-top: 0.1rem;
		padding-bottom: 0.1rem;
	}

	&:hover {
		background-color: $hover-color;
	}

	.popover-menu__item:first-child &:hover::before,
	.popover-menu__item:last-child &:hover::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 0.2rem;
		background-color: $hover-color;
	}

	.popover-menu__item:first-child &:hover::before {
		top: -0.2rem;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
	}

	.popover-menu__item:last-child &:hover::after {
		bottom: -0.2rem;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}
}
