*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 16px;

	@include desktop() {
		font-size: 18px;
	}
}

html,
body {
	height: 100%;
}

body {
	@include sans;
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 1.6;
	color: $font-color-body;
	-webkit-font-smoothing: antialiased;
	touch-action: manipulation;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include serif;
	color: $font-color-headings;
}

h1 {
	font-size: 2.25rem;
	line-height: 1.2;
}

hr {
	height: 1px;
	border: none;
	background-color: $border-color;
	outline: none;
}

blockquote {
	@include serif;
	margin: 2rem 1rem;
	padding: 0.5rem 1.5rem;
	border-left: 1rem solid lighten( $border-color, 5% );
	font-style: italic;
}

blockquote p {
	margin: 0;
}

ul {
	list-style-type: disc;
}

a {
	color: $font-color-links;

	&:hover {
		color: lighten( $font-color-links, 10% );
	}
}

button {
	@include sans;
	font-size: 1rem;
}
