.field {
	margin-bottom: 0.6rem;
}

.field > .control-label {
	display: block;
	padding: 0.2rem 0;
}

.field > fieldset {
	margin: 1rem 0 0;
	padding: 0;
	border: 0;

	&:first-of-type {
		margin-top: 0;
	}
}

.field > fieldset legend {
	@extend h2;
	padding: 0;
}

.field > fieldset fieldset legend {
	@extend h3;
}

.field > fieldset fieldset fieldset legend {
	@extend h4;
}

.field-description {
	margin-bottom: 1rem;
}

.form__inline-flex:not( :first-of-type ) {
	display: inline-flex;
	flex-direction: column;
	margin: 0 0.5rem;
}

.field .field-radio-group > label {
	display: block;
}

.field .field-radio-group .radio {
	position: relative;
	padding-left: 1.2rem;
}

.field .field-radio-group input[type='radio'] {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY( -50% );
    margin: 0 0.2rem;
}
