.field {
	margin-bottom: 0.6rem;
}

.field > label > span {
	display: block;
	padding: 0.2rem 0;
}

.field > fieldset {
	margin: 1rem 0 0;
	padding: 0;
	border: 0;
}

.field > fieldset legend {
	@extend h2;
	padding: 0;
}

.field > fieldset fieldset legend {
	@extend h3;
}

.field > fieldset fieldset fieldset legend {
	@extend h4;
}

.form__inline-flex:not( :first-of-type ) {
	display: inline-flex;
	margin: 0 0.5rem;
}
